input{
    padding: 9px;
    font-size: 20px;
    background-color: black;
    border:none;
}
.button-search{
    margin-left:12px ;
    background-color: black;
}
.form-climate{
    display: flex;
    justify-content: center;
    align-items: center;
}